.calendar-wrapper {
  padding: 0;
  width: 350px;
  color: #dfdfdf;
  margin: 100px auto;
  cursor: default;
}

.cell {
  flex-grow: 1;
  max-width: 50px;
}

.btn-wrapper {
  color: #dfdfdf;
  background: none;
  font-size: 24px;
  font-weight: bold;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.calendar-heading {
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
}

.weekday-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.43);
  font-weight: 500;
  font-size: 20px;
  height: 50px;

}

.dates-container {
  margin-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.43);
  border-top: 1px solid rgba(255, 255, 255, 0.43);
}

.calendar-day {
  font-size: 16px;
  padding: 15px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    border-radius: 0;
    background-color: #fdd000;
    color: #3d3d3d;
  }
}

.calendar-day-outside {
  @extend .calendar-day;
  color: #dfdfdf;
  opacity: 0.24;
  &:hover {
    opacity: 1;
  }
}

@media (min-width: 769px) {
  .calendar-wrapper {
    margin: 192px auto 192px;
  }
}
