.header-wrapper {
  padding: 30px 5.7%;
  height: 150px;
}

.list-unstyled {
  margin-bottom: 0;
}

.list-item {
  font-size: 20px;
  font-weight: 500;
}

.link {
  display: block;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.56px;
  position: relative;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}

.active-link{
  color:#fdd000;
}

.icon-size {
  font-size: 30px;
}



@media (min-width: 769px){
  .header-wrapper {
        height: 150px;
  }

  .list-item {
    font-size: 28px;

    &:last-child {
      margin-left: 70px;
    }
  }

  .link {
    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }
  }

  .active-link{
    color:#000;
  }

  .active-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    left: 45%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fdd000;
  }
}
